.Rproj.user
.Rhistory
.RData
ath00970.Wt_hy.png
ath00970.png
ath00970.xml
ath03008.Wt_hy.png
ath03008.png
ath03008.xml
ath03030.DNA_replication.png
ath03030.Wt_hy.png
ath03030.png
ath03030.xml
rnaseq_data.txt
wt_hy_sig_kegg.txt
